@import url('https://fonts.googleapis.com/css?family=Iceland');

.alert-error {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}

.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}

.navigation {
    margin-bottom: 2rem;
}

.game-area {
    border: 1px #999 dotted;
    width: 100%;
    height: 650px;
    position: relative;
}

nav .brand-logo {
    top: 0.45rem;
}

.home-caption {
    padding-top: 4rem;
    text-align: center;
}

.home-caption figcaption {
    font-family: 'Iceland', cursive;
    text-align: center;
    font-size: 5rem;
}

h2 {
    font-family: 'Iceland', cursive;
    margin-top: 0 !important;
}

/* Input Colors */
.input-field input[type=text]:focus,
.input-field input[type=email]:focus,
.input-field input[type=password]:focus {
     border-bottom: 1px solid #ff9100 !important;
     box-shadow: 0 1px 0 0 #ff9100 !important;
}

/* Games Navigation */
.game-nav {
    border-radius: 4px;
    display: block;
    padding: 0.3rem 0;
    text-align: center;
    color: #fff;
    margin-bottom: 0.2rem;
    position: relative;
    font-family: 'Iceland', cursive;
    text-transform: uppercase;
    font-size: 1.4rem;
}

.game-nav:before {
    border: 1px rgba(255,255,255,0.5) solid;
    border-radius: 4px;
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.game-nav:after {
    background: -webkit-linear-gradient(top, rgba(255,255,255,0.2) 0%,rgba(255,255,255,0) 100%);
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

/* Reacteroids */
canvas {
  display: block;
  background-color: #000000;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
}
.current-score {
  left: 20px;
}
.top-score {
  right: 20px;
}
.score {
  color: #fff;
  display: block;
  position: absolute;
  top: 15px;
  z-index: 1;
  font-size: 20px;
}
.controls {
  color: #fff;
  display: block;
  position: absolute;
  top: 15px;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 1;
  font-size: 11px;
  text-align: center;
  line-height: 1.6;
}
.endgame{
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 16px;
  z-index: 1;
  text-align: center;
}
button{
  border: 4px solid #ffffff;
  background-color: transparent;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px;
  margin: 10px;
  font-family: 'PT Mono', serif;
  cursor: pointer;
}
button:hover{
  background-color: #ffffff;
  color: #000000;
}

/* Tetris */
.pageBanner {
	margin-top: 50px;
	font-size: 60px;
	letter-spacing: 40px;
}

.menuButton {
	width: 25%;
	margin: 10% auto;
	display: inline-block;
	vertical-align: top;
}

.gameInfo {
	display: inline-block;
	vertical-align: top;
	width: 200;
	height: 500;
}

.scorePanel {
	text-align: left;
	margin-left: 10%;
}

.scorePanel h2 {
	margin-bottom: 5px;
}

.scoreInfo {
	font-size: xx-large;
	color: #00C853;
}

.gameField {
	border-style: solid;
	width: 300;
	height: 660;
	display: inline-block;
	background-color: #CFD8DC;
	position: relative;
}

.nextTetromino {
	border-style: solid;
	margin-left: 10%;
}
